.menu {
    background: url(../Images/Header__bg.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

html {
    --scrollbarBG:transparent;
    --thumbBG: #5855eb;
}

body::-webkit-scrollbar {
    width: 10px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}