.menu {
    background: url(../Images/Header__bg.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.home__page__element {
    position: relative;

    .container {
        position: relative;
        max-width: 1840px;

        .home__bg {
            text-align: right;

            img {
                width: 66%;
            }
        }
    }

    .content__home {
        position: absolute;
        top: 10%;
        left: 20%;

        h1 {
            width: 100%;
            max-width: 578px;
            font-size: 75px;
            color: #fff;
            font-weight: bold;
        }

        .home__btn {
            width: 150px;
            height: 50px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background-color: #fff;
            -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
            -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
            box-shadow: 0 0 15px rgba(0, 0, 0, .1);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            text-decoration: none;
            margin-top: 60px;


            span {
                text-transform: uppercase;
                color: #000;
                font-weight: 500;

                &:after {
                    content: "\f138";
                    padding-left: 10px;
                    font-family: FontAwesome;
                    font-weight: 300;
                }
            }
        }

    }
}

@media(max-width:1024px) {
    .home__page__element {
        .content__home {
            h1 {
                font-size: 40px;
            }
        }
    }
}

@media(max-width:991px) {
    .home__page__element {
        .content__home {
            left: 5%;
        }
    }
}

@media(min-width:992px)and (max-width:1199px) {
    .home__page__element {
        .content__home {
            left: 5%;
        }
    }
}